* {
     animation: fade-in 1s;
     font-family: 'Poppins',sans-serif;
     font-weight: 300;
 }
 
 
 @keyframes fade-in{
     from {opacity: 0;}
     to {opacity: 1;}
 }

 .logo{
    width: 15vh;
    height: auto;
 }
 .thead{
    background: #2c493f;
    color: whitesmoke;
 }