{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="text-center container mt-5">
     <img src="{%static 'img/logo3.png'%}" class="logo"></img> 
     <br><br>  
  <h1 style="font-family: Forque;">P e r p u s t a k a a n</h1>
  <div class="container mt-5">
    <form action="">
        <input id="myInput" class="form-control" type="search" placeholder="Ayo cari buku yang kamu mau di sini" style="border-radius: 50px;">
    </form>
  </div>
  <div class="table-responsive mt-5">
      <table class=" table table-light table-hover">
            <thead class = "thead" >
            <tr class="text-center">
                <th scope="col" class="align-middle">Cover</th>
                <th scope="col" class="align-middle">Judul</th>
                <th scope="col" class="align-middle">Penulis</th>
                <th scope="col" class="align-middle">Published Date</th>
                <th scope="col" class="align-middle">kategori</th>
            </tr>
        </thead>
        <tbody></tbody>
      </table>
  </div>

</div>


{% endblock body %}
